{% extends "base.html" %}
{% block title %}Bonnie Schulkin | teacher | coder{% endblock %}

{% block body %}
<div class="body-home">
<div class="row">
  <div class="col">
    <h1>Bonnie Schulkin</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3 class="code">teacher | coder</h3>
  </div>
</div>
<div class="row icons-row">
  <div class="col">
    <span class="icon">
      <a target="blank" href="https://www.linkedin.com/in/bonnie-schulkin/">
        <img src="/static/images/linkedin.png">
      </a>
    </span>
    <span class="icon">
      <a target="blank" href="http://github.com/flyrightsister">
        <img src="/static/images/github.png">
      </a>
    </span>
    <span class="icon">
        <a target="blank" href="https://www.udemy.com/react-testing-with-jest-and-enzyme/?couponCode=REACT-TESTING-999">
          <img src="/static/images/udemy.png">
        </a>
    </span>
  </div>
</div>
</div>
{% endblock %}